<%= form_for(@user, url: '/users', html: {multipart: true}) do |f| %>
  <!-- <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul> -->
  <p>
    <%= f.label :avatar, "Attach an Image" %><br />
    <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<!-- <%= image_tag @user.avatar.url %> -->
