<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Devconnect"%> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="<%= user_signed_in? ? "nav-md" : "login" %>">
    <div class="container body">
      <div class="main_container">
        <% if current_user %>
        <%= render 'shared/sidebar'  %>
        <%= render 'shared/topnav' %>
        <% end %>
        <div class="right_col" role="main">
          <%= yield %>
        </div>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
